*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100%;
}
body{
    background-image: url(./hero.avif);
   
}
#main{
    height: 100vh;
    width: 100%;
}
#hero-section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#container h1{
    font-size: 40px;
}

#container h3{
    font-weight: 200;
    color: rgba(0, 0, 0, 0.301);
}
#container button{
    padding: 12px 30px;
    border-radius: 20px;
    background-color: #00c9a8;
    border: none; 
    font-size: 20px;
    font-weight: 600;
}
#container button a{
    text-decoration: none;
}
#project{
   padding: 50px 0px;
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(14px);

    text-align: center;
}
.parts{
    text-align: center;
    width: 600px;
    margin: 10px auto; 
    background-color: #212121;
    border-radius: 8px;
    padding: 20px;
    border-left: 4px solid #00c9a7;
}
#foot{
    text-align: center;
    background-color: black;
    padding:20px 0;
}
